/* src/components/Skills.css */
#skills {
  color: white;
  text-align: center;
}

#skills h2 {
  /* font-size: 2rem; Smaller font size */
  margin-bottom: 10px; /* Reduced margin */
}

#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#skills li {
  margin: 5px 10px; /* Reduced margin between items */
  /* font-size: 1.25rem; Smaller font size */
  display: flex;
  align-items: center;
}

#skills li svg {
  margin-right: 10px; /* Reduced space between icon and text */
  /* font-size: 1.5rem; Smaller icon size */
}
